<!-- views/import.erb -->

<h2>_ Import a Recipe from LetsCookFrench</h2>
<br>

<form action="/top_five" method="POST">

  What ingredient would you like a recipe for?
  <input type="text" name="keyword">
  <input type="submit" value="Search">

</form>
