<!-- views/index.erb -->

<h2>_ Here are all your Recipes</h2>

<ul>

  <% @recipes.each_with_index do |recipe, index| %>
    <li>
      <a href="/mark/<%= index %>">done</a>
      <%= recipe.to_s %> /
      <a href="/destroy/<%= index %>">destroy</a>
    </li>
  <% end %>

</ul>

<p>
  <a href="./new">Add</a> /
  <a href="./import">Import</a>
</p>
